:root {
  /**
   |============================
   | Fonts
   |============================
 */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /**
    |============================
    | Colors
    |============================
  */
  --white-main-color: #fff;
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --navyblue-color: #2e2f42;
  --green-color: #31d0aa;
  --slate-body-color: #434455;
  --lightslate-color: #8e8f99;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
  --dairy-color: #fcfcfc;
  --navyblue-modal-color: rgba(46, 47, 66, 0.4);
  --grey-color: rgba(46, 47, 66, 0.7);
}

body {
  background-color: #fff;
}

/**
  |============================
  | HEDER STYLE
  |============================
*/

h1 h2 h3 h4 h5 h6 {
  margin: 0 auto;
}
p {
  margin: 0 auto;
}

ul {
  margin: 0 auto;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}
svg {
  fill: var(--lightslate-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* Phone screens */
.container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}
/* Tablet screens */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 766px;
    padding: 0 15px;
  }
}
/* Desktop screens */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
.tab-wrapper {
}
@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .tab-wrapper {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 582px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header style */

.header {
  border-bottom: 1px solid var(--cornflower-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.hed-container {
  display: flex;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
  padding: 24px 0;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-color);
  text-decoration: none;
  display: block;
  margin-right: 120px;
}
@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}

.heder-logo-text {
  color: var(--navyblue-color);
}

.nav {
  display: flex;
  gap: 40px;
  padding: 0;
  margin-right: auto;
}
@media only screen and (max-width: 767.98px) {
  .nav {
    display: none;
  }
}
.nav .list {
  list-style: none;
  cursor: pointer;
  color: var(--navyblue-color);
  list-style: none;
}
.nav-items-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  text-decoration: none;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}
.nav-items-link:hover,
.nav-items-link:focus {
  color: var(--ocean-color);
}
.nav-items-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--ocean-color);
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.nav-items-link.current::after {
  background-color: #fff;
}
.studio-link-element {
  color: var(--navyblue-color);
}
.portfolio-link-element {
  color: var(--navyblue-color);
}
.header-address {
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
.address-list {
  padding: 0;
}
@media only screen and (max-width: 767.98px) {
  .address-list {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .address-list {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
  }
}
@media only screen and (min-width: 1158px) {
  .address-list {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 40px;
    list-style: none;
  }
}
.address-item-link {
  list-style: none;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-body-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}
.address-item:hover,
.address-item:focus {
  color: var(--ocean-color);
}
/**
  |============================
  | MOBILE MENU
  |============================
*/

.menu-toggle {
  min-height: 22px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-hamburger {
  stroke: var(--navyblue-color);
}
.menu-toggle-close {
  fill: var(--navyblue-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 0;
  background-color: var(--white-main-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  overflow-x: scroll;
  overflow-x: hidden;
}
.menu-container.is-open {
  transform: translateX(0);
}
.mobile-menu-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 353px;
  margin: 0 auto;
  padding: 80px 35px 40px 40px;
}
.menu-container .menu-toggle-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--navyblue-color);
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: var(--cornflower-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-address {
}
.mobile-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 0;
  margin-bottom: 48px;
}
.mobile-menu-address-item {
}
.mobile-menu-address-item-list {
}
.mobile-menu-address-link-tel {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-decoration: none;
  color: var(--iris-color);
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
@media only screen and (max-width: 427.98px) {
  .mobile-menu-address-link-tel {
    font-size: calc(21px + (24 + 24 * 4.6) * ((100vw - 320px) / 1050));
    padding: 0;
  }
}
.mobile-menu-address-link-email {
  max-width: 192px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--slate-body-color);
}
.mobile-menu-social-media {
}
.mobile-menu-social-media-list {
  display: flex;
  flex-direction: row;
  align-items: start;
  padding-left: 0;
}
.mobile-menu-social-media-elements {
  width: 40px;
  height: 40px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  margin-right: auto;
}

.mobile-menu-social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 0;
  padding: 0;
  margin-bottom: auto;
  list-style: none;
}
.mobile-menu-items {
}
.mobile-menu-items-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--ocean-color);
}
.mobile-menu-items-link.current {
  color: var(--navyblue-color);
}
/**
  |============================
  | MAIN CONTENT STYLE
  |============================
*/

/* Main content style Studio */

/* Hero section*/
.section-hero {
  padding: 112px 0;
  margin: 0 auto;
  background-size: cover;
  background-color: var(--navyblue-color);
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-img/dark-bg-mob-@1x.jpg');
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-img/dark-bg-mob-@2x.jpg');
  }
}
@media only screen and (min-width: 768px) {
  .section-hero {
    padding: 112px 136px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-img/dark-bg-tab-@1x.jpg');
  }
}
@media only screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  only screen and (min-width: 768px) and (min-resolution: 192dpi),
  only screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-img/dark-bg-tab-@2x.jpg');
  }
}
@media only screen and (min-width: 1158px) {
  .section-hero {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-img/people-office-1desc-@1x.jpg');
  }
}
@media only screen and (min-width: 1158px) and (min-device-pixel-ratio: 2),
  only screen and (min-width: 1158px) and (min-resolution: 192dpi),
  only screen and (min-width: 1158px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-img/people-office-1desc-@2x.jpg');
  }
}
.hero-container {
  display: flex;
  flex-direction: column;
}
.section-hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--white-main-color);
  max-width: 320px;
  margin: 0 auto 72px;
}
@media only screen and (min-width: 768px) {
  .section-hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    min-width: 496px;
  }
}
@media only screen and (min-width: 1158px) {
  .section-hero-title {
    margin-bottom: 48px;
  }
}
.section-hero-btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris-color);
  color: var(--white-main-color);
  cursor: pointer;
  border: none;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}
.section-hero-btn:hover,
.section-hero-btn:focus {
  background-color: var(--ocean-color);
}
/* section 1 */

.section-text {
  padding: 82px 0;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .section-text {
    display: flex;
    flex-wrap: wrap;
    padding: 96px 0;
  }
}
@media only screen and (min-width: 1158px) {
  .section-text {
    padding: 120px 0;
  }
}
.section-one {
  margin: 0 auto;
}

.section-text .list {
  margin: 0 auto;
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .section-text .list {
    display: flex;
    row-gap: 72px;
    column-gap: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .section-text .list {
    list-style: none;
    gap: 24px;
  }
}
.section-text-elements {
  padding-bottom: 72px;
}
.section-text-elements:nth-last-child(-n + 1) {
  padding-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .section-text-elements {
    padding: 0;
    max-width: 356px;
  }
}
.section-text-wrapper {
}
@media only screen and (min-width: 1158px) {
  .section-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--cloud-color);
    margin-bottom: 8px;
  }
}
.section-text-icon {
  margin: 24px 100px;
}
@media only screen and (max-width: 1157.98px) {
  .section-text-icon {
    display: none;
  }
}

.section-text-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navyblue-color);
  text-transform: capitalize;
  margin: 0 0 8px 0;
}
@media only screen and (min-width: 768px) {
  .section-text-title {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .section-text-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
}
.section-text-content {
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--slate-body-color);
}

@media only screen and (min-width: 768px) {
  .section-text-content {
  }
}

@media only screen and (min-width: 1158px) {
  .section-text-content {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    width: 264px;
  }
}

/* section 2*/

.section-image {
  padding-bottom: 120px;
}
@media only screen and (max-width: 1157.98px) {
  .section-image {
    display: none;
  }
}
.section-image-list {
  display: flex;
  gap: 24px;
  padding: 0;
}
.section-image-elements {
  flex-basis: calc((100% - 3 * 16px) / 3);
}

.section-image-container {
}
.section-image-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue-color);
  margin: 0 0 72px 0;
}

/* section 3*/
.section-team {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 auto;
  padding: 96px 0;
  background-color: var(--cloud-color);
}
@media only screen and (min-width: 768px) {
  .section-team {
    padding: 96px 0;
  }
}
@media only screen and (min-width: 1158px) {
  .section-team {
    padding: 120px 0;
  }
}
.section-team-container {
}

.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue-color);
  margin: 0 auto 72px;
}
.section-team-list {
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .section-team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }
}
@media only screen and (min-width: 1158px) {
  .section-team-list {
    display: flex;
    gap: 24px;
    padding: 0;
  }
}
.section-team-list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-main-color);
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  margin-bottom: 72px;
}
.section-team-list-item:nth-last-child(-n + 1) {
  margin-bottom: 0px;
}
@media only screen and (min-width: 768px) {
  .section-team-list-item {
    margin-bottom: 64px;
  }
  .section-team-list-item:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 1158px) {
  .section-team-list-item {
    margin-bottom: 0px;
  }
}

.section-team-list-item-image {
}

.text-wrapper {
  padding: 32px 0;
}

.section-team-list-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navyblue-color);
  margin: 0;
}
.section-team-list-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--slate-body-color);
  margin: 8px;
}

.section-team-list-icons {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.section-team-list-icons-elements {
  display: flex;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team-link-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--iris-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-team-link-icons:hover,
.section-team-link-icons:focus {
  background-color: var(--ocean-color);
}

.section-team-list-icon {
  fill: var(--cloud-color);
}

/* section 4 */

.section-customers {
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .section-customers {
    padding: 120px 0;
  }
}
.section-customers-container {
  margin: 0 auto;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue-color);
  margin: 0 0 72px 0;
}
.customers-list-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  .customers-list-icon {
    gap: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .customers-list-icon {
    flex-wrap: nowrap;
  }
}

.customers-list-elements {
  width: calc((100% - 1em) / 2);
  height: 88px;
}
@media only screen and (min-width: 768px) {
  .customers-list-elements {
    width: calc((100% - 3em) / 3);
  }
}
@media only screen and (min-width: 1158px) {
  .customers-list-elements {
    width: calc((100% - 120px) / 6);
  }
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lightslate-color);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  border: 1px solid var(--lightslate-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--ocean-color);
  color: var(--ocean-color);
}

.customers-icon {
  fill: currentColor;
}
.customers-icon:hover,
.customers-icon:focus {
  fill: var(--ocean-color);
}

/* Main content style Portfolio */

.portfolio-section {
  padding: 48px 0;
}
@media only screen and (min-width: 768px) {
  .portfolio-section {
    padding: 64px 0 96px;
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-section {
    padding: 96px 0 120px;
  }
}
.portfolio-section-cntainer {
}
.list-buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  margin-bottom: 48px;
  padding-left: 0;
}
@media only screen and (min-width: 768px) {
  .list-buttons {
    justify-content: center;
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1158px) {
  .list-buttons {
    margin-bottom: 72px;
  }
}
.button-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris-color);
  border: none;
  cursor: pointer;
  max-height: 40px;
  border-radius: 4px;
  border: 1px solid var(--cornflower-color);
  background-color: var(--cloud-color);
  padding: 8px 16px;
  transition-delay: 0ms;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-item:hover,
.button-item:focus {
  color: var(--white-main-color);
  background-color: var(--ocean-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media only screen and (min-width: 768px) {
  .button-item {
    padding: 12px 24px;
    max-height: 48px;
  }
}

.portfolio-list-image {
  list-style: none;
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
  padding-left: 0;
}
@media only screen and (min-width: 768px) {
  .portfolio-list-image {
    align-items: center;
    row-gap: 72px;
    column-gap: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-list-image {
    row-gap: 48px;
  }
}
.portfolio-list-image-item {
  border: 1px solid var(--cloud, #f4f4fd);
  background: var(--white, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .portfolio-list-image-item {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-list-image-item {
    width: calc((100% - 48px) / 3);
  }
}
.portfolio-link-image-items {
}

.portfolio-link-image-items:hover,
.portfolio-link-image-items:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-link-image-items:hover .overlay-text,
.portfolio-link-image-items:focus .overlay-text {
  transform: translateY(0%);
}

.image-items-box {
  position: relative;
  overflow: hidden;
  max-height: 280px;
}
@media only screen and (min-width: 768px) {
  .image-items-box {
    max-width: 356px;
    max-height: 300px;
  }
}
.portfolio-image {
  width: 100%;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  padding: 40px 32px;
  color: var(--cloud-color);
  letter-spacing: 0.02em;
  background-color: var(--iris-color);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-wrapper {
  padding: 32px 16px;
  border: 1px solid var(--cornflower-color);
  border-top: none;
}

.cards-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue-color);
  margin-bottom: 8px;
}
.cards-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-body-color);
}

/**

  |============================
  | FOOTER STYLE
  |============================
*/

.footer {
  background-color: var(--navyblue-color);
  color: var(--cloud-color);
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .footer-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-wrapper {
    align-items: baseline;
    justify-content: start;
    align-content: start;
    max-width: 1158px;
  }
}
.footer-container {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto 72px;
}
@media only screen and (min-width: 768px) {
  .footer-container {
    align-items: start;
    margin-left: 0;
    margin-right: 24px;
    min-width: 264px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-container {
    margin-right: 120px;
    margin-left: 0;
  }
}
.footer-logo-link {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--iris-color);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-text {
  color: var(--cloud-color);
}
.footer-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--cloud-color);
  margin: 0 auto;
  max-width: 268px;
}
@media only screen and (min-width: 768px) {
  .footer-text {
    margin: 0;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-text {
    margin-left: 0;
  }
}
/* Footer Social media */

.footer-social-media {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .footer-social-media {
    margin: 0;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-social-media {
    flex-wrap: nowrap;
    margin-right: 79px;
  }
}
.social-media-text {
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-main-color);
  font-weight: 500;
  margin: 0;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .social-media-text {
    text-align: start;
  }
}
.footer-social-media-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.footer-social-media-elements {
  width: 40px;
  height: 40px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.footer-social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-media-link:hover,
.footer-social-media-link:focus {
  background-color: var(--green-color);
}

.social-media-icon {
  padding: 0;
  fill: var(--cloud-color);
}

.footer-subscribe {
}
@media only screen and (min-width: 768px) {
  .footer-subscribe {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
.footer-form {
}
@media only screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    gap: 24px;
    align-items: baseline;
  }
}
.footer-form-label {
  display: flex;
  flex-direction: column;
  margin: 16px auto;
  min-width: 264px;
}
@media only screen and (min-width: 768px) {
  .footer-form-label {
    margin-bottom: 0;
  }
}
.text-subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin: 0px;
}
.input-subscribe {
  max-width: 398px;
  height: 40px;
  padding-left: 16px;
  line-height: 1.5;
  font-size: 12px;
  letter-spacing: 0.04em;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white-main-color);
  outline: transparent;
  border-radius: 4px;
  background-color: transparent;
}
.input-subscribe::placeholder {
  color: var(--white-main-color);
}
.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 40px;
  margin: 0 auto;
  padding: 8px 24px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--iris-color);
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-main-color);
  cursor: pointer;
}
.subscribe-icon {
  margin-left: 16px;
  fill: var(--white-main-color);
}

/**
  |============================
  | MODAL WINDOW
  |============================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  width: 392px;
  min-height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 4px;
  background-color: var(--dairy-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 72px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
}
@media only screen and (max-width: 427.98px) {
  .modal {
    width: 90%;
  }
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cornflower-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--ocean-color);
  border: none;
}
.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: var(--white-main-color);
}
.modal-btn:active {
  background-color: var(--ocean-color);
  border: none;
}
.modal-btn-icon {
  fill: var(--navyblue-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-caption {
  margin-bottom: 16px;
  padding: 0;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navyblue-color);
}
/* Modal Form */

.modal-form {
}
.modal-form-field {
  margin-bottom: 8px;
}
.modal-form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate-color);
  margin-bottom: 4px;
}
.modal-form-label-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px 8px 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border-color: #4d5ae5;
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--iris-color);
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: var(--navyblue-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-50%);
  pointer-events: none;
}
.modal-form-comment-wrapper {
  margin-bottom: 16px;
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal-color, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  outline: transparent;
}
.modal-form-comment:focus {
  border-color: var(--iris-color);
}
.modal-form-comment::placeholder {
  color: var(--navyblue-modal-color, rgba(46, 47, 66, 0.4));
}
.modal-form-checkbox-wrapper {
  margin-bottom: 24px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-form-agreement {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate-color);
  margin-top: 0;
}
.agreement-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:checked + label > span {
  background-color: var(--ocean-color);
  border: none;
  fill: var(--cloud-color);
}
.agreement-checkbox-icon {
  fill: inherit;
}
.modal-form-link {
  color: var(--iris-color);
}
.modal-form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--iris-color);
  border: none;
  border-radius: 4px;
  border-color: transparent;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--ocean-color);
}
